$font-doc: "Open Sans", sans-serif;

%bold-header {
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0; 
  width: 100%;
  background-color: white;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: mediumvioletred;
    text-decoration: none;
  }
}


.jumbotron {
  padding-top: 100px;
}


body {
    font: 100% $font-doc;
}


#yellow {
    background-color: yellow;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;

  h2 {
    @extend %bold-header;
  }
}

#red {
  background-color: red;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    @extend %bold-header;
  }
}


#blue {
  background-color: blue;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;

  h2 {
    @extend %bold-header;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}